@model EmpresaModel
@{
    ViewData["Title"] = "Empresa";
} 

<div class="text-center">
    <h3 >Confirmar Exclusão</h3>
    <form asp-controller="Empresa" asp-action="Deletar" method="post">
        <p>Tem certeze que deseja excluir a empresa @Model.Nome?</p>

        <a class="btn btn-danger" asp-controller="Empresa" asp-action="ListarEmp">Não</a>
        <button type="submit" class="btn btn-primary">Sim</button>
    </form>
</div>