@model FilialModel
@{
    ViewData["Title"] = "Empresa";
}
<div>
    <h3 class="text-center">Alterar Filial</h3>
    <form asp-controller="Colaborador" asp-action="Alterar" method="post">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" asp-for="Nome">
        </div>
        <div class="form-group">
            <label for="empresaID">Empresa:</label>
            <select id="empresaID" class="form-select" asp-for="EmpresaID">
                <option value="10">Empresa1</option>
                <option value="20">Empresa2</option>
                <option value="30">Empresa3</option>
            </select>
        </div>
        <div class="form-group">
            <label for="cnpj">CNPJ:</label>
            <input type="text" class="form-control" id="cnpj" asp-for="CNPJ">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Alterar</button>
        <a class="btn btn-secondary" asp-controller="Empresa" asp-action="ListarEmp">Voltar</a>
    </form>
</div>