@model FilialModel
@{
    ViewData["Title"] = "Filial";
}
<h1>@ViewData["Title"]</h1>


<div class="forms">
    <h3 class="text-center">Cadastro de Filial</h3>
    <form asp-controller="Filial" asp-action="CadastrarFil" method="post">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" asp-for="Nome">
        </div>
        <div class="form-group">
            <label for="empresaID">Empresa:</label>
            <select id="empresaID" class="form-select" asp-for="EmpresaID">
                @foreach (var empresa in Model.PegarEmpresas())
                {   
                    <option value= "@empresa.ID">@empresa.Nome</option>          
                }
            </select>
        </div>
        <div class="form-group">
            <label for="cnpj">CNPJ:</label>
            <input type="text" class="form-control" id="cnpj" asp-for="CNPJ">
        </div>
        <br>
        <button type="submit" class="btn btn1">Cadastrar</button>
        <a class="btn btn1" asp-controller="Filial" asp-action="ListarFil">Voltar</a>
    </form>
</div>
