@model PontoModel
@{
    ViewData["Title"] = "Marcação";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



<div class="loginPage">
    <form asp-action="" asp-for="Funcionario" asp-controller="Ponto" method="post">
    <div class="form-group">
        <label for="funcionario">Funcionário:</label>
        <select id="funcionario" class="form-select" asp-for="Funcionario">
            @foreach (var funcionario in Model.PegarFuncionarios())
            {
                <option value="@funcionario.ID">@funcionario.Nome</option>
            }
        </select>
    </div>
     <h2>Marcação de Ponto: @DateTime.Now.ToString("g")</h2>

    <button id="marcar" name="marcar" type="Submit" class="btn btn-primary">MARCAR O PONTO</button>
</form>
</div>
