@{
    ViewData["Title"] = "Marcação";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



<div class="loginPage">
 <form asp-action="" asp-controller="Ponto" method="post" >
     <h2>Marcação de Ponto: @DateTime.Now.ToString()</h2>
    <button id="marcar" name="marcar" type="Submit" class="btn btn-primary">MARCAR O PONTO</button>
</form>
</div>
