@model PontosModel
@{
    ViewData["Title"] = "Marcações";
}
<h1>@ViewData["Title"]</h1>


<div class="text-center">
    <h3>Marcações:</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Marcação</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var ponto in Model.GetAll())
            {
                <tr>
                    <td>@ponto.ID.ToString("D5")</td>
                    <td>@ponto.PegarNomeFuncionario()</td>
                    <td>@ponto.Marcacao.ToString("f")</td>
                </tr>
            }
            @*<a type="button" class="btn btn-success float-end" asp-controller="Ponto" asp-action="GeradorRegistro">Gerar o Txt</a>*@



        </tbody>
    </table>
    <form method=post>
        ID do Colaborador: <br />
        <input type=text id="txtNome" maxlength=50 value="Teste" /><br />

        Nome do Colaborador: <br />
        <input type=text id="txtNome" maxlength=50 value="Teste" /><br />

        PIS do Colaborador: <br />
        <input type=text id="txtPIS" maxlength=11 value="Teste" /><br />

        Horário: <br />
        <input type=text id="txtHorario" value="Teste" /><br />

        <!-- Botão de cadastro de clientes -->
        <button id="btAlgo">Cadastro</button>

    </form>

    <script type="text/javascript">
        btAlgo.onclick = function () {

        }
    </script>
</div>
