@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Este site foi desenvolvido apenas como um projeto de estudos.</p>
<p>Não coletamos nenhum dado pessoal, apenas dados fictícios com a finalidade de estudo.</p>
<p>Este site foi desenvolvido por:</p>
<p>Guilherme Alves Ferraz</p>
<p>Marcos Roberto Farias</p>
<p>Ravier Willian Dias</p>
<p>Gustavo Bresanini</p>
