@model UsuariosModel
@{
    ViewData ["Title"] = "Usuarios";
} 
<div>
 <h3 class="text-center">Criar Usuario</h3>
 <form asp-controller="Usuarios" asp-action="Add" method="post">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" asp-for="Name">
  </div>
    <div class="form-group">
    <label for="nickname">Nickname:</label>
    <input type="text" class="form-control" asp-for="NickName">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password:</label>
    <input type="password" class="form-control" id="password" asp-for="Password">
  </div>
  <div class="form-group">
    <label for="acesstype">Access Type:</label>
    <select id="accessType" class="form-select"  asp-for="AcessType">
        <option value="10">Gestor</option>
        <option value="20">Colaborador</option>
    </select>
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Cadastrar</button>
  <a class="btn btn-secondary" asp-controller="Usuarios" asp-action="Index">Voltar</a>
</form>
</div>
