@model ColaboradorModel
@{
    ViewData["Title"] = "Empresa";
}
<h1>@ViewData["Title"]</h1>

@*
ID
Nome e Sobrenome
PIS
CPF
Telefone
Empresa ID
Filial ID
*@
<div>
    <h3 class="text-center">Cadastro de Empresa</h3>
    <form asp-controller="Colaborador" asp-action="Add" method="post">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" asp-for="Nome">
        </div>
        <div class="form-group">
            <label for="empresaID">Empresa:</label>
            <select id="empresaID" class="form-select" asp-for="EmpresaID">
                <option value="10">Empresa1</option>
                <option value="20">Empresa2</option>
                <option value="30">Empresa3</option>
            </select>
        </div>
        <div class="form-group">
            <label for="filialID">Filial:</label>
            <select id="filialID" class="form-select" asp-for="FilialID">
                <option value="10">Filial1</option>
                <option value="20">Filial2</option>
                <option value="30">Filial3</option>
            </select>
        </div>
        <div class="form-group">
        <label for="pis">PIS:</label>
        <input type="text" class="form-control" id="pis" asp-for="PIS">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Create</button>
        <a class="btn btn-secondary" asp-controller="Users" asp-action="Index">Back</a>
    </form>
</div>
